.poke-card {
  background-color: red;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-image {
  width: 100px;
  height: 100px;
  gap: 20px;
  margin: 20px;
}

.name {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.pokedex {
  font-size: small;
  color: rgb(255, 255, 255);
}

.pokedex-div {
  background-color: black;
  width: 300px;
  height: 35px;
}




.poke-card-fire {
  background-color: red;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-water {
  background-color: skyblue;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-grass {
  background-color: green;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-normal {
  background-color: beige;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-electric {
  background-color: yellow;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-fairy {
  background-color: pink;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-poison {
  background-color: rgb(230, 58, 230);
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-bug {
  background-color: greenyellow;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-dark {
  color: white;
  background-color: black;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-dragon {
  background-color: rgb(96, 37, 190);
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-fighting {
  background-color: darkred;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-ghost {
  background-color: rgb(105, 60, 105);
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-ground {
  background-color: brown;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-ice {
  background-color: darkcyan;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-psychic {
  background-color: hotpink;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-rock {
  background-color: rgb(177, 147, 72);
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-steel {
  background-color: lightslategray;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.poke-card-flying {
  background-color: rgb(85, 182, 182);
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
}