@font-face {
  font-family: 'Pokemon';
  src: url('../../Pokemon\ Solid.ttf') format('truetype');
}

.poke-card {
  background-color: red;
  border: 5px solid black;
  width: 300px;
  height: 300px;
  margin: 20px4
}

.poke-image {
  width: 100px;
  height: 100px;
  gap: 20px;
  margin: 20px;
}

.name {
<<<<<<< HEAD
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
=======
  height: 30px;
  font-family: 'pokemon';
>>>>>>> 70404ae63d0d31e0dbdc93775394de5dcee058d1
  font-weight: lighter;
  margin-top: -40px;
}

.pokedex {
  font-size: small;
  color: rgb(255, 255, 255);
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.pokedex-div {
  background-color: black;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type {
  margin-top: 187px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: x-large;
  margin-bottom: 15px;
}

.loader {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: rgb(0, 0, 0);
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #ff0000, 24px 0 #FFF;
  }
  66% {
    background: #ff0000;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #ff0000;
  }
}



.poke-card-fire {
  background-color: red;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-water {
  background-color: skyblue;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-grass {
  background-color: green;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-normal {
  background-color: beige;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-electric {
  background-color: yellow;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
<<<<<<< HEAD
} */
=======
}

.poke-card-fairy {
  background-color: pink;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-poison {
  background-color: rgb(230, 58, 230);
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-bug {
  background-color: greenyellow;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-dark {
  color: white;
  background-color: black;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-dragon {
  background-color: rgb(96, 37, 190);
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-fighting {
  background-color: darkred;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-ghost {
  background-color: rgb(105, 60, 105);
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-ground {
  background-color: brown;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-ice {
  background-color: darkcyan;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-psychic {
  background-color: hotpink;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-rock {
  background-color: rgb(177, 147, 72);
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-steel {
  background-color: lightslategray;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.poke-card-flying {
  background-color: rgb(85, 182, 182);
  border: 5px solid black;
  width: 300px;
  height: 400px;
  margin: 20px;
}
>>>>>>> 70404ae63d0d31e0dbdc93775394de5dcee058d1
