header {
  color: black;
  background-color: rgb(171, 255, 255);
  height: 5em;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
}

.fixer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: 50px;
  width: 50px;
}